body {
  background-color: papayawhip;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: silver;
  border-width: 5px;
  width: 5%;
}

img {
  height: 320px;
}

h1 {
  color: #515E63;
}

h3 {
  color: #57837B;
}
